@model IList<database.Models.Customer>

@{
    ViewBag.Title = "Заказчики";

}

<h2>Заказчики</h2>

<table class="table table-hover">
    <tr>
        
        <th>id</th>
        <th>имя</th>
        <th>фамилия</th>
        <th>проект</th>
        <th></th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
           
            <td class="active">
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td class="success">
                @Html.DisplayFor(modelItem => item.customerName)
            </td>
            <td class="warning">
                @Html.DisplayFor(modelItem => item.customerSurname)
            </td>
            <td class="danger">
                @Html.DisplayFor(modelItem => item.Projects.FirstOrDefault().ProjectName)
            </td>
            <td class="alert-info">
                @Html.ActionLink(" ", "Change", "Customer", new { id = item.id }, new { @class = "glyphicon-pencil" })
            </td>
            <td class="alert-info">
                @Html.ActionLink(" ", "Delete", "Customer", new { id = item.id }, new { @class = "glyphicon glyphicon-trash" })
            </td>
        </tr>
    } 
</table>
<a href="@Url.Action("Add", "Customer")" class="btn btn-success btn-md" role="button">добавить</a>